<ion-view title='{{"form.new_weekly_report" | translate}}' name="form-site-view" ng-controller='FormSiteCtrl' ng-init='renderForm()'>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-android-arrow-back button-stable"
      ng-click="backToPlace()">{{"global.back" | translate}}</button>
  </ion-nav-buttons>

  <div class="bar-positive tab-nav tabs tabs-color-active-positive pane tabs-top tabs-striped">
    <div ng-repeat="layer in layers track by layer.id" ng-click="renderFieldsForm({{layer.id}})"
      ng-class="activeTab == layer.id ? 'tab-item tab-item-active' : 'tab-item'">
       {{layer.name}}
    </div>
  </div>

  <ion-content class="padding has-subheader">
    <div ng-include="'templates/fields/default-fields.html'" ng-if="activeTab == layers[0].id"></div>
    <form name="formSite" ng-submit="formSite.$valid && saveSite(site, propertiesDate)" id='formSiteId'>
      <div ng-repeat="field in fields track by field.id">
        <div ng-include="'templates/fields/input.html'" ng-if="field.isInputType"></div>
        <div ng-include="'templates/fields/date.html'" ng-if="field.type == 'date'"></div>
        <div ng-include="'templates/fields/yesno.html'" ng-if="field.type == 'checkbox'"></div>
        <div ng-include="'templates/fields/select.html'" ng-if="field.type == 'select'"></div>
        <div ng-include="'templates/fields/photo.html'" ng-if="field.type == 'photo'"></div>
        <div ng-include="'templates/fields/hierarchy.html'" ng-if="field.type == 'hierarchy'"></div>
      </div>
    </form>
    </br>
    <div ng-style="{'padding-top' : 'calc(100px * {{fields.length}})'}" ng-if='!isSiteInServer'>
      <button form='formSiteId' ng-if='isLastTab()' class='button button-block default-button'
          type='submit' ng-click='isSubmit()'>
        <span ng-if='isUpdateSite'>{{"form.update" | translate}}</span>
        <span ng-if='!isUpdateSite'>{{"form.save" | translate}}</span>
      </button>
    </div>
    <div ng-if='canUpdateSiteOnline'>
      <button form='formSiteId' ng-if='isLastTab()' class='button button-block default-button'
          type='submit' ng-click='isSubmit()'>
        <span>{{"form.update" | translate}}</span>
      </button>
    </div>
    </br>
  </ion-content>
</ion-view>
