<ion-view title='Larvae' name="village-view" ng-controller='FormSiteCtrl' ng-init='getLayers()'>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-android-arrow-back button-stable" ng-click="backToVillage()">Back</button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>

  <ion-tabs class="tabs-color-active-positive">
    <ion-tab ng-repeat="layer in layers" title="{{layer.name}}" ng-click='renderFieldsForm({{layer.id}})'>
      <ion-nav-view></ion-nav-view>
    </ion-tab>
  </ion-tabs>

  <ion-content class="padding has-subheader">
    <div class="list list-inset">
      <div ng-repeat="field in fields">
        <label class="item item-input" ng-if="field.isInputType">
          <div class="input-label">{{field.name}}</div>
          <input type="{{field.type}}" placeholder="{{field.name}}" ng-model="field.value">
        </label>

        <label class="item item-input item-select item-balance" ng-if="field.type === 'select_one'">
          <div class="input-label">{{field.name}}</div>
          <select>
              <option ng-repeat="option in field.config.options">{{option.label}}</option>
          </select>
        </label>

        <label class="item item-input item-select item-balance"
                ng-if="field.type === 'select_many'" >
          <div class="input-label">{{field.name}}</div>
          <select>
              <option ng-repeat="option in field.config.options">{{option.label}}</option>
          </select>
        </label>
      </div>
    </div>

    <button ng-click="takePicture()"> Take Picture</button>
    <img ng-src='{{lastPhoto}}'>

    <!-- <div class="list">
        <span ng-repeat="item in items" >
          <ion-item class="item depth-{{item.depth}}"
                    ng-click="toggleCollapse(item)">
          </ion-item>
          <ion-list ng-model="item.tree"
                    ng-repeat="item in item.tree"
                    ng-hide="item.collapsed">
          </ion-list>
        </span>
    </div> -->

    <!-- <ion-tree-list items="items" collapsed="true"></ion-tree-list> -->
  </ion-content>
</ion-view>
