<ion-view title='List weekly report' name="places-view" ng-init='getPlaces()'>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-android-arrow-back button-stable"
            ng-click="backToWeeksCalendar()">Back</button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <span>
      weekly report of week {{selectedWeek}} in {{selectedYear}}
    </span>

    <div class="list list-inset">
      <a class="item"
         ui-sref="form-site" ng-repeat="place in places"
         ng-click='setPlace(place)'>
        {{place.name}}
        <i class="icon" ng-class="place.hasData ? 'ion-checkmark' : ''"></i>
      </a>
    </div>

    <button ng-disabled="numberOfSites == 0" class='button button-block default-button'
            ng-click="uploadSites()">
      Send report to malaria station
    </button>

  </ion-content>
</ion-view>
