<ion-view title='{{"place.list_weekly_report" | translate}}' name="places-view" ng-init='getPlaces()'>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-android-arrow-back button-stable"
            ng-click="backToWeeksCalendar()">{{"global.back" | translate}}</button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <span>
      {{"place.weekly_report_of_week" | translate}} {{selectedWeek}} {{"place.in" | translate}} {{selectedYear}}
    </span>

    <div class="list list-inset">
      <a class="item"
         ui-sref="form-site" ng-repeat="place in places track by place.id"
         ng-click='setPlace(place)'>
        {{place.name}}
        <i class="icon" ng-class="place.hasData ? 'ion-checkmark' : ''"></i>
      </a>
    </div>

    <button ng-disabled="numberOfSites == 0" class='button button-block default-button'
            ng-click="uploadSites()">
      {{"place.send_report_to_malaria_station" | translate}}
    </button>

  </ion-content>
</ion-view>
