<ion-view title='List weekly report' name="villages-view">
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-android-arrow-back button-stable"
            ng-click="backToWeeksCalendar()">Back</button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <span ng-controller='WeeksCalendarCtrl'>
      weekly report of week {{selectedWeek}} in {{currentYear}}
    </span>

    <div class="list list-inset" >
        <a class="item" ui-sref="form-site" ng-repeat="village in villages">
          {{village.name}}
        </a>
    </div>

    <button  class='button button-block button-positive' ng-click="uploadSites()">
      Send report to malaria station
    </button>

  </ion-content>
</ion-view>
