<ion-view view-title="Weekly report calendar" name="week-calendar-view">
  <ion-nav-buttons side="right" >
    <button class="button icon-left ion-log-out button-stable"
            ng-controller='SessionsCtrl' ng-click="logout()">Sign out</button>
  </ion-nav-buttons>
  <ion-content class="padding" ng-controller='WeeksCalendarCtrl'>
    <label class="item item-input item-select item-balance">
      <div class="input-label">Select year</div>
      <select ng-model="selectedYear" ng-change='setWeeks()'>
        <option ng-repeat='year in years' ng-value="{{year}}">{{year}}</option>
      </select>
    </label>
    <br>
    <div style="width: 99%; background-color:#f4f4f4">
      <div class="row">
        <span>Week</span>
      </div>
      <div class="row" ng-repeat="week in weeks">
        <div class="col-20 col-offset-10" ng-repeat="row in week.row" >
          <button class="button button-block"
                  ng-class="isErrorOrCurrentWeekNumber(row)"
                  ng-click='getWeekNumber({{row}})'>
            {{row}}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col text-left">
          <button class="button icon-left ion-chevron-left button-stable"
                  ng-click='previous()' ng-disabled="isDisabledPreviousButton"></button>
        </div>
        <div class="col text-right">
          <button class="button icon-left ion-chevron-right button-stable"
                ng-click='next()' ng-disabled="isDisabledNextButton"></button>
        </div>
      </div>
    </div>
    <br>
    <div>
      <span>Showing week from
        <span> {{weeks[0].row[0]}} </span>
        to
        <span> {{weeks[2].row[2]}} </span>
        of {{selectedYear}}</span>
    </div>

  </ion-content>
</ion-view>
