<ion-view view-title='{{"week.weekly_calendar" | translate}}' name="week-calendar-view">
  <ion-nav-buttons side="right">
    <button class="icon ion-custom-user-black tranparent-button"
            ng-click="popupAccount()" ng-controller='SessionsCtrl'>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding" ng-controller='WeeksCtrl'>
    <label class="item item-input item-select item-balance">
      <div class="input-label">{{"week.select_year" | translate}}</div>
      <select ng-model="selectedYear" ng-change='setWeeks()'>
        <option ng-repeat='year in years' ng-value="{{year}}">{{year}}</option>
      </select>
    </label>
    <br>
    <div>
      <span style="font-size: 16px;"> {{"week.please_select_week_to_report" | translate}} </span>
    </div>
    <div style="width: 99%; background-color:#f4f4f4">
      <div class="row" ng-repeat="week in weeks">
        <div class="col-20 col-offset-10" ng-repeat="row in week.row" >
          <button class="button button-block"
                  ng-class="isErrorOrCurrentWeekNumber(row)"
                  ng-click='getWeekNumber({{row}})'>
            {{row}}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col text-left">
          <button class="button icon-left ion-chevron-left button-stable"
                  ng-click='previous()' ng-disabled="isDisabledPreviousButton"></button>
        </div>
        <div class="col text-right">
          <button class="button icon-left ion-chevron-right button-stable"
                ng-click='next()' ng-disabled="isDisabledNextButton"></button>
        </div>
      </div>
    </div>
    <br>

    <div style='padding-bottom: 5px;'>
      <div class='week-calendar-error info-week'> 00 </div>
      <div style='line-height: 32px; padding-left: 40px;'>
        {{"week.weeks_missing_submitting_report_to_server" | translate}}
      </div>
    </div>

    <div style='padding-bottom: 5px;'>
      <div class='week-calendar-advanced info-week'> 00 </div>
      <div style='line-height: 32px; padding-left: 40px;'>
        {{"week.weeks_have_report_in_device" | translate}}
      </div>
    </div>

    <div style='padding-bottom: 5px;'>
      <div class='calendar-current-week info-week'> 00 </div>
      <div style='line-height: 32px; padding-left: 40px;'>
        {{"week.current_week" | translate}}
      </div>
    </div>

  </ion-content>
</ion-view>
