<label class='item-input-inset item-stacked-label'>
  <div class="input-label">{{field.name}}
    <span ng-if="field.required" ng-class="{'error' : field.required}"> * </span>
  </div>
  <div class="item-input-wrapper"
      ng-class="{ 'has-errors' : formSite['{{field.field_id}}'].$invalid &&
          (formSite['{{field.field_id}}'].$touched ||!customValidate(field.field_id))}">
    <input type="date" name='{{field.field_id}}' class='input-date' ng-disabled='isSiteInServer'
      ng-required='{{field.required}}' ng-model="propertiesDate[field.field_id]">
  </div>
  <div class="error-message" ng-show="formSite['{{field.field_id}}'].$invalid &&
        (formSite['{{field.field_id}}'].$touched ||!customValidate(field.field_id))"
       ng-messages="formSite['{{field.field_id}}'].$error">
     <div ng-message="required">This field is required!
     </div>
  </div>
</label>
