<label class='item-input-inset item-stacked-label'>
  <div class='input-label'>{{"form.district_name" | translate}} </div>
  <div class="item-input-wrapper">
    <input class="item-input-wrapper" type="text" ng-model="districtName" readonly>
  </div>
</label>
<label class='item-input-inset item-stacked-label'>
  <div class='input-label'>{{"form.village_name" | translate}} </div>
  <div class="item-input-wrapper">
    <input class="item-input-wrapper" type="text" ng-model="villageName" readonly>
  </div>
</label>
