<div class='item-input-inset item-stacked-label'>
  <div class="input-label">{{field.name}}
    <span ng-if="field.required" ng-class="{'error' : field.required}"> * </span>
  </div>
  <div class="item"
       ng-class="{ 'has-errors' : formSite['{{field.id}}'].$invalid, 'ng-untouched': customValidate(field.id)}">
    <input type="hidden" ng-required="{{field.required}}"
          name="{{field.id}}" ng-model="site.properties[field.id]">
    <ion-tree-list items="field.config.hierarchy"
                   disabled-click={{isSiteInServer}}
                   value="site.properties[field.id]"
                   value-property="id"
                   collapsed="site.properties[field.id] ? false : true">
    </ion-tree-list>
  </div>
  <div class="error-message" ng-show="formSite['{{field.id}}'].$invalid && !customValidate(field.id)"
        ng-messages="formSite['{{field.id}}'].$error">
     <div ng-message='required'>This field is required!
     </div>
  </div>
</div>
</div>
