<div class='item-input-inset item-stacked-label'>
  <input type="hidden" ng-required="{{field.required}}"
           name="{{field.field_id}}" ng-model="site.properties[field.field_id]">
  <fancy-select
    invalid = "formSite[field.field_id].$invalid"
    untouched="customValidate()"
    is-required="{{field.required}}"
    disabled-click='{{canReadOnlyLayer}}'
    header-text="Select option"
    items="field.config.options" value="site.properties[field.field_id]"
    value-property="id" text-property="label"
    multi-select="{{field.multiSelect}}" text="(no value)"
    modal-template-url="templates/fancy-select/fancy-select.html"
    template-url="templates/fancy-select/item-template.html"
    note-text="{{field.name}}" value-changed="onValueChanged(value)"
    get-custom-text="getCustomText(value)">
  </fancy-select>
  <div class="error-message" ng-show="formSite['{{field.field_id}}'].$invalid && !customValidate()"
        ng-messages="formSite['{{field.field_id}}'].$error">
     <div ng-message='required'>{{"form.district_name" | translate}}
     </div>
  </div>
</div>
