.input-label {
  padding-bottom: 5px !important;
  width: 100%;
  max-width: 100%;
}

.div-toggle{
  margin-left: 10px;
}

.item-select{
  padding-top: 5px;
  padding-bottom:5px;
}

.input-date{
  width: 100%;
}

textarea[readonly]:not(.cloned-text-input) {
    background-color: #f8f8f8 !important;
    cursor: not-allowed;
}
